<form class="mt-5 mb-5" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" [(ngModel)]="formData.name" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" required [(ngModel)]="formData.email">

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" [(ngModel)]="formData.phone"
        required>

    <label for="file">Resume:</label>
    <input type="file" id="avatar" name="avatar" [(ngModel)]="formData.file" accept="image/png, image/jpeg,image/pdf">

    <label for="message">Message</label>
    <textarea id="message" name="message" [(ngModel)]="formData.message"></textarea>

    <input type="submit" value="Submit">
</form>