<!-- <div>
   <div class="pb-3" style="display: flex; justify-content: space-around;">
      <div class="col-lg-4 col-md-12 pt-4">

         <a href="https://www.fiestroevents.com/venues/jaisalmer">
            <div class="row">
               <div class="col-md-6">
                  <img src="https://www.fiestroevents.com/script/public/treadingimage/treading-image-1668510459.jpeg"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Jaisalmer</h3>
                  <p>5 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>


      <div class="col-lg-4 col-md-12 pt-4">

         <a href="https://www.fiestroevents.com/venues/ranthambore">
            <div class="row">
               <div class="col-md-6">
                  <img
                     src="https://www.fiestroevents.com/script/public/treadingimage/1684242602-ezgif.com-gif-maker-2.webp"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Ranthambore</h3>
                  <p>6 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>


      <div class="col-lg-4 col-md-12 pt-4">

         <a href="https://www.fiestroevents.com/venues/agra">
            <div class="row">
               <div class="col-md-6">
                  <img
                     src="https://www.fiestroevents.com/script/public/treadingimage/1684242664-ezgif.com-gif-maker-3.webp"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Agra</h3>
                  <p>8 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>

   </div>


   <div class="pb-3" style="display: flex; justify-content: space-around;">
      <div class="col-lg-4 col-md-12 pt-4">
         <a href="https://www.fiestroevents.com/venues/jodhpur">
            <div class="row">
               <div class="col-md-6">
                  <img
                     src="https://www.fiestroevents.com/script/public/treadingimage/1684242866-ezgif.com-gif-maker-4.webp"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Jodhpur</h3>
                  <p>7 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>
      <div class="col-lg-4 col-md-12 pt-4">

         <a href="https://www.fiestroevents.com/venues/udaipur">
            <div class="row">
               <div class="col-md-6">
                  <img
                     src="https://www.fiestroevents.com/script/public/treadingimage/1684242984-ezgif.com-gif-maker-5.webp"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Udaipur</h3>
                  <p>16 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>
      <div class="col-lg-4 col-md-12 pt-4">

         <a href="https://www.fiestroevents.com/venues/pushkar">
            <div class="row">
               <div class="col-md-6">
                  <img src="https://www.fiestroevents.com/script/public/treadingimage/1684242813-pushkar.webp"
                     style="height: 84px;width: 157px;" alt="image">
               </div>
               <div class="col-md-6 text-adjustment pt-3">
                  <h3 class="mb-0 fw-bold">Pushkar</h3>
                  <p>9 Hotel Available </p>
               </div>
            </div>
         </a>
      </div>
   </div>


</div> -->

<!-- 
<section class="about-us">
   <div class="about">
     <img src="girl.png" class="pic">
     <div class="text">
       <h2>About Us</h2>
       <h5>Front-end Developer & <span>Designer</span></h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
       <div class="data">
       <a href="#" class="hire">Hire Me</a>
       </div>
     </div>
   </div>
 </section> -->



<div class="about-section">
   <h1 class="animate-charcter">Shreeji Weddings & Event Planner</h1>
   <p>India's Favourite Wedding Planning Platform</p>
   <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<div style="background:#e1f2f3;">

   <div class="col-md-10 main">

      <h2 style="text-align:center">Our Team</h2>
      <div class="cards">
         <div class="column">
            <div class="card">
               <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
               <div class="container">
                  <h2>Kavita & Nishant</h2>
                  <p class="title">CEO & Founder</p>
                  <p>Masters in Hospitality & MBA in Marketing with 18+ years of experience</p>
                  <p>jane@example.com</p>
                  <p><button class="button">Contact</button></p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Mike" style="width:100%">
               <div class="container">
                  <h2>Mike Ross</h2>
                  <p class="title">Art Director</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>mike@example.com</p>
                  <p><button class="button">Contact</button></p>
               </div>
            </div>
         </div>

         <div class="column">
            <div class="card">
               <img src="https://www.w3schools.com/w3images/team1.jpg" alt="John" style="width:100%">
               <div class="container">
                  <h2>John Doe</h2>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>john@example.com</p>
                  <p><button class="button">Contact</button></p>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class=" section-title clearfix mt-2 mb-2">
      <h5 class="text-style sadow"><b> <small style="color:#ff4c3d;"> </small> </b>
      </h5>
      <div class="title-img">
         <img src="assets\icons\title img.png" alt="underline-img">
      </div>
   </div>

   <div class="col-md-10 main">
      <div style="text-align:center">
         <h2>Why Choose Us</h2>
         <p>
            Shreeji Wedding & Event Planner is specialized in planning Destination wedding & management services. It is most couple’s desire to adventure off to an exotic location somewhere to have their dream wedding. Jim Corbett, Rishikesh, Manesar, Neemrana, NCR, Jaipur, Udaipur & Goa are the most luxurious and desired wedding destination in India which is known for its Royal and Heritage venues with a majestic feel and beautiful backdrop of lake, river, palaces and natural beauty. Question arises about what to expect, what to experience, and how much money is involved. With a multitude of proper planning concerns, we are here to organize a wedding which will free you from all the hazels and worries involved in planning the event of your lifetime.
         </p>
      </div>
      <ul>
         <h5>The Weddings organized by Shreeji Wedding Events are always planned to perfection and executed with utmost panache and style.
         </h5>
         <li>ONE STOP SOLUTION</li>
         <li>UNMATCHED CHOICE OF DESTINATIONS</li>
         <li>UNIQUE APPROACH</li>
         <li>LOCAL NETWORK</li>
         <li>BESPOKE & PERSONALISED SERVICES</li>
         <li>PROFESSIONAL TEAM</li>
      </ul>
   </div>



   <div class=" section-title clearfix mt-2 mb-2">
      <h5 class="text-style sadow"><b><small style="color:#ff4c3d;"></small> </b>
      </h5>
      <div class="title-img">
         <img src="assets\icons\title img.png" alt="underline-img">
      </div>
   </div>

   <div class="col-md-10 main">
      <div style="text-align:center">
         <h2>Vision of company</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis, eveniet, voluptates blanditiis
            numquam esse ipsa officiis quasi nam natus placeat sed eos, provident in sequi quo illum eaque? Deleniti,
            explicabo eum? At neque mollitia dicta atque eveniet? Nemo excepturi cumque a aperiam, velit aspernatur
            deserunt repudiandae ea nisi, perspiciatis nihil quam, numquam quaerat id? Quae numquam deleniti perferendis
            consectetur sunt illo ratione veritatis assumenda vel quisquam distinctio fugit voluptates modi ex esse,
            obcaecati velit! Ab tempora ipsa accusantium quos perspiciatis, repudiandae quibusdam sint esse odit
            eveniet, incidunt soluta itaque. Molestias quaerat, inventore itaque eius voluptas nemo nostrum iusto
            similique.
         </p>

      </div>
   </div>
</div>




<div class="col-12">
   <h3 style="color:#62BFE6">Location Map</h3>  
      <iframe height="300" width="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3501.853584423395!2d77.13923199999999!3d28.63414999999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf06d7af97c56445a!2sBng+Infotech+Private+Limited!5e0!3m2!1sen!2sin!4v1406631812905;output=embed"></iframe>
</div>