<div class="header">

  <!-- <h2 class="text-center">Services of Shreeji Wedding</h2> -->
  <div class="container">
    <h2 class="title">
      <span class="title-word title-word-1">Services</span>
      <span class="title-word title-word-2">of</span>
      <span class="title-word title-word-3">Shreeji</span>
      <span class="title-word title-word-4">Wedding</span>
    </h2>
  </div>
</div>


<div class="row">

  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-heart"></i>
      </div>
      <h3>Pre-Wedding Function</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fas fa-umbrella-beach"></i>
      </div>
      <h3>Destination Wedding</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-comments"></i>
      </div>
      <h3>Wedding Consultaion</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-gift"></i>
      </div>
      <h3>Anniversary Function</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-paint-brush"></i>
      </div>
      <h3>Event & Decor Planning</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-users"></i>
      </div>
      <h3>Social Function</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-briefcase"></i>
      </div>
      <h3>Corporate Event</h3>
      <p>
        Lorem | ipsum |dolor |sitamet | consectetur |adipisicing |consequatur | necessitatibus |      </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-music"></i>
      </div>
      <h3>Other Services - Entertainment</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class="fa fa-camera"></i>
      </div>
      <h3>Photography/ Videography</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
       <i class="fa fa-cutlery"></i>

      </div>
      <h3>Catering</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>

  
  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <!-- <i class="fas fa-plug"></i> -->
        <i class="fa fa-truck"></i>
      </div>
      <h3>Logistics Management</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="icon-wrapper">
        <i class='fa fa-medkit cursor'></i>
      </div>
      <h3>Hospitality & Guest Management</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
        consequatur necessitatibus eaque.
      </p>
    </div>
  </div>
</div>

