<div class="India" style="background: #cd4b9d;color: aliceblue;"><span style="margin-left: 3rem;"> India's Favourite Wedding Planning Platform</span> <a routerLink="carrer"><span style="float: right;margin-right: 3rem;">Carrer</span></a> </div>
<nav class="navbar navbar-expand-sm navbar-light bg-pink">
	<div class="row" id="navbarCollapse" style=" display: contents; ">
		<!-- <a href="#" class="navbar-brand">
			<i class="fa fa-check-circle" style="font-size:36px"></i>
			</a> -->
			<div class="outer-tab">
             <a href="#" class="hover-link">HOME</a>
			</div>
		<div class="outer-tab">
			<a routerLink="/aboutus" class="hover-link">ABOUT US</a>
			<!-- <ul class="inner-tab">
				<li><a href="#" class="nav-item nav-link">Our Team</a></li>
				<li><a href="#" class="nav-item nav-link">Why Choose Us</a></li>
				<li><a href="#" class="nav-item nav-link"> Vision of the Company</a></li>
			</ul> -->
		</div>

		<div class="outer-tab">

				<div style="margin-bottom: 10px;" ><iframe src="https://giphy.com/embed/FNqoTH4S3ZBheBVYlN" width="40%" height="40%" style="position:absolute; " frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
				<!-- <img src="assets/sticker.png" alt=""> -->
				<a href="#" class="hover-link">LOCATION</a>
			
			<ul class="inner-tab">
				<li><a routerLink="/locationDl" class="nav-item nav-link">Delhi NCR</a></li>
				<li><a routerLink="/locationUk" class="nav-item nav-link">Uttarakhand</a></li>
				<li><a routerLink="/locationRj" class="nav-item nav-link"> Rajasthan</a></li>
				<li><a routerLink="/locationGoa" class="nav-item nav-link">Goa</a></li>
			</ul>
		</div>

		<div class="outer-tab">
			<a routerLink="/service" class="hover-link">SERVICES</a>
			<!-- <ul class="inner-tab">
				<li><a href="#" class="nav-item nav-link">Pre-Wedding Function</a></li>
				<li><a href="#" class="nav-item nav-link"> Destination Wedding</a></li>
				<li><a href="#" class="nav-item nav-link">Wedding Consultaion</a></li>
				<li> <a href="#" class="nav-item nav-link">Anniversary Function</a></li>
				<li><a href="#" class="nav-item nav-link">Event & Decor Planning</a></li>
				<li><a href="#" class="nav-item nav-link">Social Function</a></li>
				<li><a href="#" class="nav-item nav-link">Corporate Event</a></li>
				<li><a href="#" class="nav-item nav-link"> Other Services - Entertainment</a></li>
				<li><a href="#" class="nav-item nav-link"> Logistics Management</a></li>
				<li><a href="#" class="nav-item nav-link">Photography/ Videography</a></li>
				<li><a href="#" class="nav-item nav-link">Catering</a></li>
				<li><a href="#" class="nav-item nav-link">Hospitality & Guest Management</a></li>
			</ul> -->
		</div>

		<div class="outer-tab">
			<a routerLink="/weddingPortfolio" class="hover-link">WEDDING PORTFOLIO</a>
		</div>
		<div class="outer-tab">
			<a routerLink="/contactus" class="hover-link">CONTACT US</a>
		</div>
		<div class="outer-tab">
			<a routerLink="/blog" class="hover-link">BLOG</a>
		</div>

		<div class="navbar-nav ms-auto">
			<button class="login-button"><a routerLink="/login">Login</a></button>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>
<!-- footer -->
<!-- <section>Footer Example 4</section> -->
 <footer class="footer-distributed">

	<div class="footer-left">

		<h3><img src="assets\icons\Screenshot 2023-07-10 154204.ico" alt=""></h3>

		<p class="footer-links">
			<a href="#" class="link-1">Home</a>

			<a routerLink="/blog">Blog</a>

			<a routerLink="/locationDl">Location</a>

			<a routerLink="/aboutus">About</a>

			<a routerLink="/service">Services</a>

			<a routerLink="/contactus">Contact</a>
		</p>

		<p class="footer-company-name">Shreeji Weddings & Event Planner © 2015</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker" style="font-size:20px"></i>
			<p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
		</div>

		<div>
			<i class="fa fa-phone" style="font-size:20px"></i>
			<p>+91 9310025124</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">support@company.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			Shreeji Weddings & Event Planner is a comprehensive wedding planning and management company based in Delhi .Be it venue selection, décor, catering, rentals, hospitality, we are one name you can rely upon for a memorable wedding ceremony.
		</p>

		<div class="footer-icons">
			<a href="https://api.whatsapp.com/send?phone=9310025124"><i class="fab fa-whatsapp"></i></a>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			

		</div>

	</div>

</footer>
