
<!-- <div class="about-us"> -->
  <div class="about mt-5">
    <img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
    <div class="text">
      <h3 class="animate-charcter" style="color: rgb(203, 38, 38);"> Delhi</h3>
      <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
    </div>
  </div> 


  <div class=" section-title clearfix mt-5">
    <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
    </h5>
    <div class="title-img">
        <img src="assets\icons\title img.png" alt="underline-img">
    </div>
</div>


    <div class="about mt-5">
      <img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
      <div class="text">
        <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Noida</h3>
        <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
       
      </div>
    </div>

    <div class=" section-title clearfix mt-5">
      <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
      </h5>
      <div class="title-img">
          <img src="assets\icons\title img.png" alt="underline-img">
      </div>
  </div>


  <div class="about mt-3">
   <img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
   <div class="text">
     <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Ghaziabad</h3>
     <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
    
   </div>
 </div>


 <div class=" section-title clearfix mt-5">
   <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
   </h5>
   <div class="title-img">
       <img src="assets\icons\title img.png" alt="underline-img">
   </div>
</div>


<div class="about mt-3">
<img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
<div class="text">
  <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Faridabad</h3>
  <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
 
</div>
</div>


<div class=" section-title clearfix mt-5">
   <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
   </h5>
   <div class="title-img">
       <img src="assets\icons\title img.png" alt="underline-img">
   </div>
</div>


<div class="about mt-3">
<img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
<div class="text">
  <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Gurugram </h3>
  <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
 
</div>
</div>


<div class=" section-title clearfix mt-5">
   <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
   </h5>
   <div class="title-img">
       <img src="assets\icons\title img.png" alt="underline-img">
   </div>
</div>


<div class="about mt-3">
<img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
<div class="text">
  <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Manesar</h3>
  <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
 
</div>
</div>


<div class=" section-title clearfix mt-5">
   <h5 class="text-style sadow"><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
   </h5>
   <div class="title-img">
       <img src="assets\icons\title img.png" alt="underline-img">
   </div>
</div>


<div class="about mt-3">
<img src="assets\picture\DSC_8912-1024x684.jpg" class="pic">
<div class="text">
  <h3 class="animate-charcter" style="color: rgb(203, 38, 38);">Neemrana</h3>
  <h5 class="mt-2">Shreeji Weddings & <span>Event Planner</span></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
 
</div>
</div>




  
   <!-- </div> -->



 
 