
<div class="container-fluid">
    <div class="banner">
        <video autoplay loop muted plays-inline>
            <source src="assets\video\video1.mp4" type="video/mp4">
        </video>
    
    <div class="row p-1">
        <a class="whatapp" href="https://api.whatsapp.com/send?phone=9310025124" target="_blank" rel="noopener">
            <i class="fab fa-whatsapp" style="font-size: 30px;"></i>
          </a>

          <a class="call" href="tel:9310025124" target="_blank" rel="noopener">
            <i class="fa fa-phone"  style="font-size: 30px;" ></i>
          </a>
        
        <div class="col-md-10 mt-5 mb-5" style="display: flex; margin: auto;">
            <div class="text-center mb-5" style="width: 100%;">

                <h1 class="animate-charcter">Shreeji Weddings & Event Planner</h1>

                <p style="color: aliceblue;">Shreeji Weddings & Event Planner is a comprehensive wedding planning and management company based in
                    Delhi, which takes care of all the aspects of a wedding ceremony so that you can relax and enjoy the
                    most beautiful moments of your life. We take complete responsibility of hosting a memorable wedding
                    right from planning to execution stage and offer an extraordinary service experience for our
                    patrons. Be it venue selection, décor, catering, rentals, hospitality, we are one name you can rely
                    upon for a memorable wedding ceremony.</p>
            </div>
            <!-- <div style="width: 50%;">
                <img style="width: 100%;" src="assets\picture\DSC_8912-1024x684.jpg" alt="">
            </div> -->

        </div>
    </div>
</div>

    <div class="row p-2">
        <div class="col-md-10 iconlist mt-2">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" >
                <i class='fas fa-user-friends cursor' ></i>
                <p class="text-center mt-2">organizes Guest list</p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" >
                <i class='fas fa-search cursor'></i>
                <p class="text-center mt-2">Manage vendor</p>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" >
                <i class='fas fa-clipboard-check cursor'></i>
                <p class="text-center mt-2">Stay chequelist</p><p></p>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" >
                <i class='fas fa-calculator cursor'></i>
                <p class="text-center mt-2">Manage Budget</p>

            </div>

            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" >
                <i class='fas fa-camera cursor'></i>
                <p class="text-center mt-2">Photography</p>

            </div>

        </div>
    </div>

    <div class="row p-3">
        <div class="col-md-10">
            <div class="text-center">
                <div>
                    <h1 class="animate-charcter mt-4 mb-4">BEST WEDDING PLANNER IN JAIPUR</h1>
                </div>
                <h5>Looking for the best wedding planner in Jaipur and India? Then look no more. Fiestro Events is one of
                    the top 10 wedding planner in India that allows you to plan your weddings with excitement and ease.
                    We are an event planner in Jaipur that provides end-to-end event management solutions from venues to
                    decoration and organizing guest lists. Our team of expert planners will help you enjoy the event and
                    let all the workload be on us. Our motto is to make your wedding day a time you can enjoy without
                    worrying about preparations. We have the most reasonable Wedding planner cost for Jaipur wedding.
                </h5>
            </div>
            <div class="section-title clearfix mt-4">

                <h5 class="text-style "><b>Service <small style="color:#ff4c3d;"> Categories</small> </b>
                </h5>
                <div class="title-img">
                    <img src="assets\icons\title img.png" alt="underline-img">
                </div>
            </div>



            <div >

                <div class="pb-3" style="display: flex; justify-content: space-around;">
                   <div class="col-lg-4 col-md-12 pt-4">
             
                      <a href="https://www.fiestroevents.com/venues/jaisalmer">
                         <div class="row">
                            <div class="col-md-6">
                                <!-- <iframe  style="height: 84px;width: 157px;" src="https://www.youtube.com/embed/6Nc5KCetHE4?autoplay=1"  frameborder="0" allowfullscreen></iframe> -->
                               <img src="https://www.fiestroevents.com/script/public/treadingimage/treading-image-1668510459.jpeg"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">Jaisalmer</h3>
                               <p>5 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
             
             
                   <div class="col-lg-4 col-md-12 pt-4">
             
                      <a href="https://www.fiestroevents.com/venues/ranthambore">
                         <div class="row">
                            <div class="col-md-6">
                               <img
                                  src="https://www.fiestroevents.com/script/public/treadingimage/1684242602-ezgif.com-gif-maker-2.webp"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">pune</h3>
                               <p>6 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
             
             
                   <div class="col-lg-4 col-md-12 pt-4">
             
                      <a href="https://www.fiestroevents.com/venues/agra">
                         <div class="row">
                            <div class="col-md-6">
                               <img
                                  src="https://www.fiestroevents.com/script/public/treadingimage/1684242664-ezgif.com-gif-maker-3.webp"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">Agra</h3>
                               <p>8 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
             
                </div>
             
             
                <div class="pb-3" style="display: flex; justify-content: space-around;">
                   <div class="col-lg-4 col-md-12 pt-4">
                      <a href="https://www.fiestroevents.com/venues/jodhpur">
                         <div class="row">
                            <div class="col-md-6">
                               <img
                                  src="https://www.fiestroevents.com/script/public/treadingimage/1684242866-ezgif.com-gif-maker-4.webp"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">Jodhpur</h3>
                               <p>7 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
                   <div class="col-lg-4 col-md-12 pt-4">
             
                      <a href="https://www.fiestroevents.com/venues/udaipur">
                         <div class="row">
                            <div class="col-md-6">
                               <img
                                  src="https://www.fiestroevents.com/script/public/treadingimage/1684242984-ezgif.com-gif-maker-5.webp"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">Udaipur</h3>
                               <p>16 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
                   <div class="col-lg-4 col-md-12 pt-4">
             
                      <a href="https://www.fiestroevents.com/venues/pushkar">
                         <div class="row">
                            <div class="col-md-6">
                               <img src="https://www.fiestroevents.com/script/public/treadingimage/1684242813-pushkar.webp"
                                  style="height: 84px;width: 157px;" alt="image">
                            </div>
                            <div class="col-md-6 text-adjustment pt-3">
                               <h3 class="mb-0 fw-bold">Pushkar</h3>
                               <p>9 Hotel Available </p>
                            </div>
                         </div>
                      </a>
                   </div>
                </div>
             
             
             </div>

          
            <div class="text-center mt-4">
                <button class="btn btn-secondary">view all Categories</button>
            </div>
        </div>
    </div>

    <div class=" section-title clearfix mt-4">
        <h5 class="text-style sadow"><b>Corporate <small style="color:#ff4c3d;"> & </small>Conference </b>
        </h5>
        <div class="title-img">
            <img src="assets\icons\title img.png" alt="underline-img">
        </div>
    </div>
    <div class="row p-4">

        <div class="text-center col-md-10">
            <p>Apart from being a leading wedding planner in Jaipur Fiestro Events also organizes corporate meetings and
                conferences. We take care of your guests and all the arrangements like venue, permissions, refreshments,
                and many more. You just name it. We make sure that your clients can remember your hospitality with your
                perfect pitch. This is why we are one of the best event management companies in Jaipur. </p>


            <div class="p-4-card mt-4 gap-3">

                <div class="card" style="width: 18rem; height: auto;">
                    <img src="assets\picture\pexels-🇮🇳amol-nandiwadekar-1707446.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quicktent.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: auto;">
                    <img src="assets\picture\cardimg1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quicktent.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: auto;">
                    <img src="assets\picture\pexels-kumar-saurabh-1456613.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quicktent.</p>
                    </div>
                </div>

               
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-secondary">VIEW ALL</button>
            </div>

            <div class=" section-title clearfix mt-4">
                <h5 class="text-style sadow"><b>Corporate <small style="color:#ff4c3d;"> & </small>Conference </b>
                </h5>
                <div class="title-img">
                    <img src="assets\icons\title img.png" alt="underline-img">
                </div>
            </div>
            <div class="row mt-2">
                <p>As one of the best wedding planning companies in India, we do not only stick to the same patterns of
                    getting people wed. We cover all main cultural, and religious rituals and ways of tieing the knot in
                    India. So, no matter whether you have a subtle aesthetic private wedding or a big fat wedding on
                    your mind, we got it all covered with zero worries guaranteed.</p>
                <div class="col-md-11 mt-4" style="margin: auto;">

                    <div class="grid-container">
                        <div class="item item-a"><img src="" alt=""></div>
                        <div class="item item-b"><img src="" alt=""></div>
                        <div class="item item-c"><img src="" alt=""></div>
                        <div class="item item-d"><img src="" alt=""></div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>